*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 2px solid;
  width: 80%;
  min-height: 60vh;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
}
.search-bar{
  display: flex;
  font-size: xx-large;
  width: 80%;
  padding: 5px;

}
.input{
  width: 100%;
  font-size: inherit;
  border-radius: 5px;
  padding: inherit;
}
.search{
  width: 30%;
  font-size: inherit;
  cursor: pointer;
  border-radius: 5px;
  padding: inherit;
}
.loading{
  /* border: 1px solid; */
  /* width: 100%;
  height: 30px; */
  /* margin-top: 10px; */
  color: green;
}
.movie-container{
  font-size: x-large;
  margin-top: 20px;
   display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 650px)and (max-width: 850px){
  .movie-container{
    font-size: large;
  }
  .search-bar{
    font-size: x-large;
  }
}
@media (min-width: 400px)and  (max-width: 650px){
  .movie-container{
    font-size: medium;
  }
  .search-bar{
    font-size: large;
  }
}

@media (max-width: 400px){
  .movie-container{
    font-size: x-small
  }
  .search-bar{
    font-size: small;
  }
}